#list-account li.idle a{
    color: gray;
}
#list-account li.online a{
    color: black;
}
#list-account li.active{
    background: #ddd;
}
#list-account li.new-message a::after{
    content: " (new)";
    color: red;
}
#messages div.sent{
    text-align: right;
}
#messages div.receive{
    text-align: left;
}
#messages {
    overflow: auto;
    height: 300px;
    padding: 20px;
}
#messages div{
    padding-bottom: 10px;
}